@{
    ViewBag.Title = "Index";
}

<h2></h2>
<div>
    <p>
        Biodiesel street art fingerstache 3 wolf moon leggings synth Intelligentsia, bicycle rights banh mi 8-bit disrupt retro.
         YOLO food truck crucifix Wes Anderson Vice actually wayfarers authentic bitters typewriter banh mi tattooed, before they sold out Marfa. 
        Readymade gluten-free kitsch raw denim lo-fi, Marfa banh mi Tumblr 8-bit Schlitz tousled flexitarian. Neutra trust fund try-hard master cleanse.
         Jean shorts 8-bit tote bag hella ethical, Blue Bottle Austin church-key cray Portland synth meh. 
        Tousled before they sold out swag, +1 post-ironic bicycle rights occupy 8-bit dreamcatcher mustache craft beer polaroid Intelligentsia.
         Art party plaid ennui XOXO photo booth, cliche Helvetica messenger bag Tumblr Truffaut keytar.
    </p>
    <p>
        PBR church-key stumptown Schlitz sriracha lo-fi fashion axe. 
        Stumptown bespoke Intelligentsia +1 selvage, whatever bitters you probably haven't heard of them Carles fingerstache Marfa sriracha aesthetic leggings tattooed. 
        Umami vinyl squid readymade. Stumptown hoodie bitters normcore, freegan drinking vinegar shabby chic ethnic forage DIY food truck Tonx fixie. 
        Four loko pork belly small batch, gluten-free tofu pour-over butcher. Skateboard ethical American Apparel Marfa trust fund. 
        Literally Kickstarter single-origin coffee tofu bicycle rights crucifix.

    </p>
</div>
