@{
    ViewBag.Title = "Index";
}

<h2></h2>
<div class ="workpageimg"> 
  <img src="http://tinyurl.com/qeemlqf" />

  <img src="http://tinyurl.com/qeemlqf" />

  <img src="http://tinyurl.com/qeemlqf" />

  <img src="http://tinyurl.com/qeemlqf" />

</div>